@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto+Mono&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}

main
{
    background-color:#e0e0e0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author-text 
{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    text-decoration: none;
    color: #2c3136;
    font-weight: 600;
    transition: 300ms ease-in-out
}

.author-links
{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 10rem;
}

.author-link
{
    color: #59626d;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 300ms ease-in-out;
}

.author-link:hover,
.author-text:hover
{
    transform: translateY(-0.1rem);
    color: lightcoral;
}

.main-calculator
{
    padding: 2rem;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow:  15px 15px 24px #bebebe,
                -15px -15px 24px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}

.calculator-display
{
    color: #59626d;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 15rem;
    word-wrap: break-word;
    word-break: break-all;
    width: 25rem;
    justify-content: space-between;
    padding: 1.5rem;
    margin:1rem;
    border-radius: 1rem;
    box-shadow: inset 12px 12px 24px #b3b3b3,
                inset -12px -12px 24px #ffffff;
}

.calculator-display-current
{
    align-self: flex-end;
    font-size: 3rem;
    max-width: 22rem;
    font-weight: 500;
}

.calculator-display-previous
{
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1.5rem;
}

.calculator-buttons
{
    margin-top: 2.5rem;
    width: 25rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.calculator-row
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.calculator-row-button 
{
    border: 0;
    outline: 0;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    margin: .5rem;
    font-size: 2rem;
    /* color: #59626d; */
    color: #67717e;
    font-weight: 600;
    transition: 200ms ease-in-out;
    background-color: #e0e0e0;
    /* box-shadow:  5px 5px 20px #cacaca,
                -5px -5px 20px #f6f6f6; */
    box-shadow:  8px 8px 15px #bebebe,
                -8px -8px 15px #ffffff;
}
.calculator-row-button:active
{
    box-shadow: inset 8px 8px 10px #bebebe,
                inset -8px -8px 10px #ffffff;
}

.calculator-row-button:hover 
{
    color: #2c3136;
}

.large 
{
    width: 10.5rem;
}

.uil-cancel 
{
    transform: rotate(180deg);
}

.operator
{
    color: lightcoral;
    transition: 200ms ease-in-out;
}

.operator:hover 
{
    color: red;
}

@media screen and (max-width: 350px)
{
    .main-calculator
    {
        width: 20rem;
        padding: 0.25rem;
    }

    .calculator-display
    {
        width: auto;
        height: 6rem;
    }

    .calculator-display-previous {
        font-size: 1.25rem;
    }

    .calculator-display-current {
        font-size: 2rem;
    }

    .calculator-row-button{
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        margin: .25rem;
        box-shadow:  5px 5px 10px #cacaca,
                    -5px -5px 10px #f6f6f6;
    }

    .calculator-buttons {
        width: auto;
    }

    .large {
        width: 7.75rem;
    }

    .author-links {
        height: 6rem;
    }

    .author-text {
        font-size: 1rem;
    }

    .author-link {
        font-size: 1.25rem;
    }
}