@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto+Mono:wght@400;500;600;700&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-position: inside;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background: #e0e0e0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stop-transition {
    transition: none !important;
}

main {
    padding: 2rem;
    border-radius: 2rem;
    box-shadow:  20px 20px 25px #d5d5d5,
    -20px -20px 25px #ebebeb;
    width: 30rem;
}

.main-title {
    color: #212427;
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

.main-container {
    padding: 2rem;
    font-size: 1.75rem;
}

.todo-input {
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    outline: 0;
    border: none;
    border-bottom: .2rem solid rgba(0, 0, 0, 0.05);
    color: #212427;
    font-weight: 600;
    background: #e0e0e0;
    transition: 300ms ease-in-out;
    margin-bottom: 1rem;
}

.todo-input::placeholder {
    opacity: 0.5;
    font-weight: 400;
    font-family: "Roboto Mono", monospace;
}

.todo-input:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: .5rem;
}

.todo-input:focus {
    background-color: rgba(0, 0, 0, 0.025);
    border-radius: .5rem;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
}

.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    color: rgb(33, 36, 39, 0.7);
    word-wrap: break-word;
    border-bottom: .2rem solid rgba(0, 0, 0, 0.05);
    margin: .5rem 0;
    padding: 1rem 2rem;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.35);
}

.author {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.15rem;
    cursor: default;
}

.author a {
    cursor: pointer;
    text-decoration: none;
    color: #212427;
}

.instructions {
    margin-top: 2.5rem;
    text-align: center;
    font-size: .9rem;
    user-select: none;
}

.instructions span {
    font-weight: 600;
    color: #212427;
}

.warning::placeholder{
    color: red;
    opacity: 0.35;
    font-weight: 600;
}